@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.extraInfo {

}

.extraInfo>div {
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px solid #DDE5EA
}
.extraInfo>div:first-child {
  padding-left: 0;
  border: none;
}
.extraInfo>div:last-child {
  padding-right: 0;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

@media screen and (min-width: 890px){
  .statsGrid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
}

@media screen and (min-width: 1305px){
  .statsGrid {
    display: grid;
    grid-template-columns: repeat(11,1fr);
  }
}


.statsGrid>div {
  padding: 10px 14px
}
.statsGrid>div:nth-last-child(4) {
  grid-column-start: 1;
  grid-column-end: 2;
  border-bottom: 1px solid #DADCE0;
}

@media screen and (min-width: 890px){
  .statsGrid>div:nth-last-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 1305px) {
  .statsGrid>div:nth-last-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 0;
  }
}

.statsGrid>div:nth-last-child(3) {
  grid-column-start: 2;
  grid-column-end: -1;
  border-bottom: 1px solid #DADCE0;
  border-left: 1px solid #DADCE0;
}

@media screen and (min-width: 890px){
  .statsGrid>div:nth-last-child(3) {
    grid-column-start: 3;
    grid-column-end: -1;
  }
}

@media screen and (min-width: 1305px) {
  .statsGrid>div:nth-last-child(3) {
    grid-column-start: 10;
    grid-column-end: -1;
    border-bottom: 0;
    order: 4;
  }
}

.statsGrid>div:nth-last-child(2) {
  grid-column-start: 1;
  grid-column-end: -1;
  border-bottom: 1px solid #DADCE0;
}

@media screen and (min-width: 890px) {
  .statsGrid>div:nth-last-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 0;
  }
}

@media screen and (min-width: 1305px) {
  .statsGrid>div:nth-last-child(2) {
    grid-column-start: 3;
    grid-column-end: 6;
    border-left: 1px solid #DADCE0;
    order: 2;
  }
}

.statsGrid>div:nth-last-child(1) {
  grid-column-start: 1;
  grid-column-end: -1;
}

@media screen and (min-width: 890px) {
  .statsGrid>div:nth-last-child(1) {
    grid-column-start: 3;
    grid-column-end: -1;
    border-left: 1px solid #DADCE0;
  }
}

@media screen and (min-width: 1305px) {
  .statsGrid>div:nth-last-child(1) {
    grid-column-start: 6;
    grid-column-end: 10;
    border-bottom: 0;
    order: 3;
  }
}


/* Before Psudo Class */
.bar::before {
  content: "";
  position:absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0073E6;
}


/* Place holder Styles */

.inputBox::placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #8DA4BF;
}

/* Selecting first UL tag to set Z-Index on it */

.formSelect {

}

.formSelect ul:first-of-type {
  z-index: 99;
}


/* Modal Animation */
.modalContainer {

}

.setBorder {

  /* ${selected ? 'border-primary-blue-2 text-primary-blue-2' : 'text-primary-blue-1 border-transparent'} */
}

.setBorder li {
  border-color: transparent;
  color: #1C4980;
}
.setBorder li:nth-child(2) {
  border-color: #0073E6;
  color: #0073E6;
}

@media screen and (min-width: 640px) {
  .setBorder li:nth-child(2) {
    background-color: rgba(0, 115, 230,0.2);
  }
}

.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  min-width: 100%;
  z-index: 9999;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 70%;

}

@media screen and (min-width: 1305px) {
  .modal {
    position: static;
    height: max-content;
    min-width: 600px;
    width: auto;
    border-radius: 12px;
  }
}
@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}
